footer{
    position:fixed;
    bottom:0px;
    background-color: #262626;
    color:white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    overflow:hidden;
}
.colorRef {
    color: #F2BE22;
    color: #F2AE2E;
    color: #F26B1D;
    color: #262626;
    color: #F2F2F2;
}
nav{
    padding: 8px;
    width: 100%;
    margin:auto;
    background-color: #262626;
    text-align: center;
    padding-left:0px;
    padding-right:0px;
    overflow: hidden;
}
.center{
    width: 960px;
    margin-left: auto;
}
nav h2{
    font-size: 18px;
    margin:0px;
    color:white;
    padding: 0px 16px;
    vertical-align: middle;
    float: left;
}
nav div{
    float:right;
    display:inline;
}
nav div a{
    padding: 16px 32px 16px 0px;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.container {
    width:960px;
    margin: 0px auto 50px auto;
}
body {
    background-image: url('background.jpg');
    margin:0px;
    font-size: 12px;
}
header{
    text-align: center;
    font-size: 26px;
    background-color: rgba(0, 0, 0, 0.563);
}
header h1{
    color: white;
    margin:0px;
}
.events{
    float:left;
    width: 25%;
    background-color: #F26B1D;
    margin:0px;
    text-align: center;
    color:#F2F2F2;
}
.event{
    text-align: left;
    margin: 8px;
}
.event p{
    margin-top: 0px;
    color: #F2BE22;
    font-size: 14px;
}
.event h2{
    margin-bottom: 0px;
}

.articles{
    float:right;
    width: 75%;
    background-color: #F2AE2E;
    margin:0px;
}
.article{
    width:33%;
    background-color: #F2BE22;
    color:white;
    text-align: center;
    display:inline-block;
    justify-content: space-between;
    margin: 20px 8%;
    border:solid rgba(0, 0, 0, 0.25) 2px;
}
.articleImage{
    width:75%;
    margin:8px;
    border:solid black 2px;
}
.clear{
    clear: both;
}
a {
    /*text-decoration: none;*/
    color:inherit;
}